<ion-content class="content" padding>
  <ion-img class="imgBigBack"
    src="https://www.accenture.com/t20180928T084810Z__w__/lv-en/_acnmedia/Accenture/Conversion-Assets/DotCom/Images/Global/Dualpub_152/Accenture-Sec-Lockup-Dimensional-Logo.png">
  </ion-img>
  <div class="divider"></div>
  <form [formGroup]="validForm" class="form-data" (ngSubmit)="registerUser()">

    <ion-input formControlName="firstname" placeholder="Primer Nombre" autocomplete="off"
      [class.invalid]="!validForm.controls.firstname.valid  && validForm.controls.firstname.touched"></ion-input>

    <p class="errorMessage"
      *ngIf="validForm.controls.firstname.hasError('required') && (validForm.controls.firstname.touched)">
      Por favor ingresa tu nombre
    </p>
    <br>
    <ion-input formControlName="lastname" placeholder="Primer Apellido" autocomplete="off"
      [class.invalid]="!validForm.controls.lastname.valid  && validForm.controls.lastname.touched">
    </ion-input>

    <p class="errorMessage"
      *ngIf="validForm.controls.lastname.hasError('required') && (validForm.controls.lastname.touched)">
      Por favor ingresa primer apellido
    </p>
    <br>

    <ion-input formControlName="identification" placeholder="Identificacion" autocomplete="off"
      [class.invalid]="!validForm.controls.identification.valid  && validForm.controls.identification.touched">
    </ion-input>

    <p class="errorMessage"
      *ngIf="validForm.controls.identification.hasError('required') && validForm.controls.identification.touched">
      Por favor ingresa tu identificacion
    </p>

    <p class="errorMessage"
      *ngIf="validForm.controls.identification.hasError('pattern')  && validForm.controls.identification.touched">
      Por favor ingresa una identificacion valida
    </p>
    <p class="errorMessage"
      *ngIf="validForm.controls.identification.hasError('minLength')  && validForm.controls.identification.touched">
      Debe contener minimo 10 caracteres
    </p>
    <ion-item>
      <ion-label>
        <br>Fecha Nacimiento</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm" formControlName="birthdate">
      </ion-datetime>
    </ion-item>
    <div padding></div>
    <button ion-button block type="submit">Registrarse</button>
  </form>
</ion-content>
